<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.Title %>
  </p>

  <p>
    <strong>Autor:</strong>
    <%= post.Autor %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= post.Rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.Description %>
  </p>

</div>
